{% extends "base.html" %}
{% block title %}Sensor Created - You Temp{% endblock %}

{% block content %}
<div class="container-center">
    <div class="card">
        <h2>Sensor Created Successfully!</h2>

        <p><strong>Name:</strong> {{ sensor.name }}</p>
        <p><strong>Description:</strong> {{ sensor.description }}</p>

        <p><strong>UUID:</strong></p>
        <code>{{ sensor.uuid }}</code>

        <p><strong>API KEY:</strong></p>
        <code>{{ sensor.api_key }}</code>

        <a href="/my-sensors" style="display:block; margin-top:20px; text-align:center; text-decoration:none; color:#2563eb;">Go to My Sensors</a>
    </div>
</div>
{% endblock %}
